<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157184456145-rfc635079hu6rt0qg0hbpocmfvobg9a5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157184456145-rfc635079hu6rt0qg0hbpocmfvobg9a5</string>
	<key>API_KEY</key>
	<string>AIzaSyBjPUv5HeeJ9Ca37H0NzeTNZNzMmB93bmQ</string>
	<key>GCM_SENDER_ID</key>
	<string>157184456145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.htiobjsky.instagramTwoRecord</string>
	<key>PROJECT_ID</key>
	<string>instaclon-papa</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclon-papa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157184456145:ios:0d121362ae7cb1cf0b1cf0</string>
</dict>
</plist>